[submodule "opsworks_custom_env"]
	path = opsworks_custom_env
	url = git@github.com:joeyAghion/opsworks_custom_env.git
[submodule "opsworks_interspire"]
	path = opsworks_interspire
	url = git://github.com/saveritemedical/opsworks-interspire.git
[submodule "elasticsearch"]
	path = elasticsearch
	url = git://github.com/interu/cookbook-elasticsearch.git
[submodule "rails"]
	path = rails
	url = git://github.com/saveritemedical/cookbooks-rails.git
