[submodule "opsworks_custom_env"]
	path = opsworks_custom_env
	url = git@github.com:joeyAghion/opsworks_custom_env.git
[submodule "opsworks_interspire"]
	path = opsworks_interspire
	url = git://github.com/saveritemedical/opsworks-interspire.git
[submodule "rails"]
	path = rails
	url = git://github.com/saveritemedical/cookbooks-rails.git
[submodule "elasticsearch"]
	path = elasticsearch
	url = git://github.com/saveritemedical/cookbook-elasticsearch.git
[submodule "deploy"]
	path = deploy
	url = git://github.com/saveritemedical/opsworks-deploy.git
[submodule "postgresql"]
	path = postgresql
	url = git://github.com/opscode-cookbooks/postgresql.git
